bin/
obj/
*.user
*.db
*.sqlite
*.sqlite3
.vs/
.vscode/
node_modules/
*.log
*.tmp
Dockerfile*
docker-compose*
.dockerignore
.git/
.gitignore
README.md
.env
.env.local
.env.development.local
.env.test.local
.env.production.local